*{margin:0;padding:0;}
div{width:270px;;margin:0 auto;margin-top: 30px;padding:0;}
.title{
	font-size: 25px;
	color:red;
}
span{
	display: inline-block;
	width:80px;
	height:30px;
	background-color: blue;
	color:white;
	text-align: center;
	line-height: 28px;
	border-radius: 8px;
	cursor: pointer;
	margin:0 auto;
}


